<template>
    <div class="body">
        <div id="login">
            <h1>Введите логин и пароль</h1>
            <input type="text" name="username" v-model="input.username" placeholder="Логин" />
            <input type="password" name="password" v-model="input.password" placeholder="Пароль" />
            <button class="btn" type="button" v-on:click="login()">Войти</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "create" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present");
                }
            }
        }
    }
</script>

<style scoped>
    #login {
        width: 500px;
        border: 2px solid #26a69a;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
        border-radius: 10px;
    }
    h1 {
        font-size: 40px;
        text-align: center;
        color: #26a69a;
    }
    button {
        margin-top: 10px;
    }
</style>
