<template>
  <nav class="blue darken-3">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <router-link
          tag="li"
          to="/"
          exact
          active-class="active"
        >
          <a href="#">Create</a>
        </router-link>
        <router-link
          tag="li"
          to="/list"
          active-class="active"
        >
          <a href="#">List</a>
        </router-link>
      </ul>
      <ul class="right hide-on-med-and-down">
        <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      authenticated: false,
      mockAccount: {
        username: "admin",
        password: "12345"
      }
    }
  },
  mounted() {
    if(!this.authenticated) {
      this.$router.replace({ name: "login" });
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    logout() {
      this.authenticated = false;
    }
  }
}
</script>

<style lang="scss" scoped>
  nav {
    padding: 0 2rem;
  }
</style>
