<template>
  <div id="app">
    <nav v-if="authenticated" class="blue darken-3" >
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <router-link
                  tag="li"
                  to="/create"
                  exact
                  active-class="active"
          >
            <a href="#">Создать</a>
          </router-link>
          <router-link
                  tag="li"
                  to="/list"
                  active-class="active"
          >
            <a href="#">Задачи</a>
          </router-link>
        </ul>
        <ul class="right hide-on-med-and-down">
          <router-link  to="/login" v-on:click.native="logout()" replace>Выйти</router-link>
        </ul>
      </div>
    </nav>

    <div class="container">
      <router-view @authenticated="setAuthenticated"  />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      authenticated: false,
      mockAccount: {
        username: "admin",
        password: "12345"
      }
    }
  },
  mounted() {
    if(!this.authenticated) {
      this.$router.replace({ name: "login" });
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    logout() {
      this.authenticated = false;
    }
  }
}
</script>

<style lang="scss">
  @import "~materialize-css/dist/css/materialize.min.css";
</style>
